<div class = "container">

<h1>Notices</h1>

<table class = "table">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.user.email %></td>
        <td><%= notice.title %></td>
        <td><%= notice.content %></td>
        <td><%= link_to 'Show', notice %></td>
        <% if notice.user == current_user %>
        <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Notice', new_notice_path %>
<% end %>

</div>