<div class = "container">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notice.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notice.content %>
</p>

<% if @notice.user == current_user %>
		<%= link_to 'Edit', edit_notice_path(@notice) %> |
	<% end %>
	<%= link_to 'Back', notices_path %>
</div>