<div class = "container">

<div class ="row">
  <div class="col-md-4">
      <div class="card card-inverse" style="width: 15rem; $brand-inverse; background-color: #333; border-color">
          <div class="card-block">
          <h4 class="card-title">Your account</h4>
          <p class="card-text"><%= current_user.email%>
      </p>
  </div>
</div>
  </div>
  <div class="col-md-8">
      <% if user_signed_in? %>
        <%= link_to 'New Tweet', new_tweet_path %>
      <% end %>

      <ul class="list-group" >
        <% @tweets.each do |tweet| %>
          <li class="list-group-item justify-content-between"style="$brand-inverse; background-color: #333; border-color">
              <h7 class="list-group-item-heading"><%= tweet.user.email %></h7>
              <%= link_to tweet do %>
              <p class="list-group-item-text"><%= tweet.content %></p>
              <td><%= link_to 'Show', tweet %></td>
              <% if tweet.user == current_user %>
              <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
              <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
              <span class="badge badge-default badge-pill">∆</span>
            <% end %>
          </li>
        <% end %>
    </ul>


  
</div>

  </div>
